.home__container {
    margin-top: 49px;
    text-align: left;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    /* position: relative; */
    display: flex;
    flex-direction: column;
    gap: 96px;
}

.home__intro {
    display: flex;
    gap: 10%;
    justify-content: space-between;
}

.home__introcontent {
    display: flex;
    flex-direction: column;
}

.home__title {
    font-size: 28px;
}

.home__profile {
    width: 40%;    
    border-radius: 40px; 
}

.home__contactme {
    border: none;
    font-size: 16px;
    color: white;
    background-color: #cb6015;
    width: 150px;
    height: 50px;
    border-radius: 40px;
}

.home__contactme:hover {
    background-color: #a24d11;
}
