footer {
    background: #202A44;
    padding: 3rem 0;
    text-align: center;
    font-size: .9rem;
    margin-top: 7rem;
    color: white;
}

.footer__socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20%;
    margin-bottom: 1rem;
}

.footer__socials a {
    font-size: 18px;
    color: white;
    text-decoration: none;
}

